@import 'tailwindcss';

:root {
  --background-dark: #000000;
  --background-secondary: #2d334a;
  --background-highlight: #4dd8f6;
  --text-light: #ffffff;
  --text-dark: #000000;
  --text-highlight: #4dd8f6;
  --text-green: #00bbc1;
  --text-blue: #1d75e9;
  --text-purple: #6587ff;
  --text-blue-purple: #3b51e3;
}

html,
body,
#__next {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overscroll-behavior: none;
  position: fixed;
}
